@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/countryl.css">


<div class="all-country-card">
    <div class="country-bigbox">

        <div class="box-countries">
            <a asp-page="/Countries/topCountris" asp-route-coutryCode="FI">
                <div class="flag">
                    <img class="w-100 h-100" src="~/img/finland-flag-png-large.png" alt="Finland">
                </div>
                <div class="allcountry-text">
                    <p>Accounts: @Model.TopCustomersFinland.Accounts</p>
                    <p>Custommers: @Model.TopCustomersFinland.Customers</p>
                    <p>Total Amounts: @Model.TopCustomersFinland.Total kr</p>
                </div>
            </a>
        </div>

        <div class="box-countries">
            <a @*asp-page="/Countries/topCountris" asp-route-coutryCode="NO"*@>
                <div class="flag">
                    <img class="w-100 h-100" src="~/img/norway-flag-png-large.png" alt="Norway">
                </div>
                <div class="allcountry-text">
                    <p>Accounts: @Model.TopCustomersNorway.Accounts</p>
                    <p>Custommers: @Model.TopCustomersNorway.Customers</p>
                    <p>Total Amounts: @Model.TopCustomersNorway.Total kr</p>
                </div>
            </a>
        </div>

        <div class="box-countries">
            <a asp-page="/Countries/topCountris" asp-route-coutryCode="DK">
                <div class="flag">
                    <img class="w-100 h-100" src="~/img/denmark-flag-png-large.png" alt="Denmark">
                </div>
                <div class="allcountry-text">
                    <p>Accounts: @Model.TopCustomersDenmark.Accounts</p>
                    <p>Custommers: @Model.TopCustomersDenmark.Customers</p>
                    <p>Total Amounts: @Model.TopCustomersDenmark.Total kr</p>
                </div>
            </a>
        </div>

        <div class="box-countries">
            <a asp-page="/Countries/topCountris" asp-route-coutryCode="SE">
                <div class="flag">
                    <img class="w-100 h-100" src="~/img/sweden-flag-png-large.png" alt="Sweden">
                </div>
                <div class="allcountry-text">
                    <p>Accounts: @Model.TopCustomersSweden.Accounts</p>
                    <p>Custommers: @Model.TopCustomersSweden.Customers</p>
                    <p>Total Amounts: @Model.TopCustomersSweden.Total kr</p>
                </div>
            </a>
        </div>

    </div>
</div>







